#cloud-config
autoinstall:
  version: 1
  apt:
    geoip: true
    preserve_sources_list: true
  keyboard: {layout: us, toggle: null, variant: ''}
  locale: en_US.UTF-8
  user-data:
    disable_root: true
    users:
      - name: bluebanquise
        sudo: ['ALL=(ALL:ALL) NOPASSWD:ALL']
        groups: sudo
        shell: /bin/bash
        ssh-authorized-keys:
          - SSHKEY
        passwd: $6$M3crarMVoUV3rALd$ZTre2CIyss7zOb4lkLoG23As9OAkYPw2BM88Y1F43n8CCyV5XWwAYEwBOrS8bcCBIMjIPdJG.ndOfzWyAVR4j0
  ssh:
    allow-pw: true
    install-server: true
  power_state:
    mode: poweroff
    delay: 5
    message: Bye Bye
