
body {
  margin: 0;
  font-family: "OpenSans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

ul.top {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
#  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
  font-family: "OpenSans-Light","Helvetica Neue",Helvetica,Arial,sans-serif;
}

ul.top li {
  float: left;
}

ul.top li a.logo {
#  display: block;
#  color: white;
#  text-align: center;
#  padding: 14px 16px;
  text-decoration: none;
  font-family: "OpenSans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

ul.top li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.top li a:hover:not(.active) {
  background-color: #111;
}

ul.top li a.active {
  background-color: #272727;
  color: #efad21;
  #  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.54),0 1px 8px 0 rgba(0,0,0,0.62),0 5px 3px -5px rgba(0,0,0,0.70);
}

ul.top li.right {
  float: right;
}

ul.top li.rightactive {
  background-color: #272727;
  color: #efad21;
  float: right;
}

@media screen and (max-width: 600px) {
  ul.top li.right,
  ul.top li {
    float: none;
  }
}

.titlecenter {
  text-align: center;
  background-color: #333;
  font-size: 1.7em;
  color: white;
}

.titlecenterblue {
  color: #108bde;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
padding:0% 3%
}

h1 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h2 {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
